body{
  margin: 5rem;
}

h1 {
  margin: 2rem;
}
#parent{
  display: inline-flex;
}
a{
  position: absolute;
  left: 50%;
  top: 25%;
}

#output{
  position: absolute;
  left: 52.5%;
  top: 60%;
}

button {
  margin: 3rem;
}
